{% extends "partials/_base.html" %}
{% from "macros/form_field_macros.html" import render_field%}
{% block content %}
    <form action="" method="post" novalidate class="container">
        {{ form.hidden_tag() }}
        <table class="table table-borderless align-middle">
            <tr>
                <td>
                    {{ render_field(form.name) }}
                </td>
                <td colspan="2">
                    {{ render_field(form.surname) }}
                </td>
                <td>
                    {{ render_field(form.company) }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {{ render_field(form.address_street_and_number) }}
                </td>
                <td colspan="2">
                    {{ render_field(form.address_zipcode_and_city) }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {{ render_field(form.phone) }}
                </td>
                <td colspan="2">
                    {{ render_field(form.email) }}
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    {{ form.submit(class="btn btn-custom") }}
                </td>
            </tr>
        </table>
    </form>
{% endblock %}