{% extends "partials/_base.html" %}
{% block content %}
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Adres</th>
            <th>Opcje</th>
        </tr>
        </thead>
        <tbody>

        {% for client in clients %}
            <tr>
                <td>{{ client.name }}</td>
                <td>{{ client.surname }}</td>
                <td>{{ client.address_zipcode_and_city }}</td>
                <td>
                    <a class="btn btn-custom"
                       href="{{ url_for('client.client', idx=client.id) }}">Szczegóły</a></td>

            </tr>
        {% endfor %}

        </tbody>
    </table>
    <a class="btn btn-custom"
       href="{{ url_for('client.add') }}">Dodaj klienta</a>
{% endblock %}