{% extends "_base.html" %}
{% block content %}

    <article>
        Klienci<br>
        <table>
            <tr>
                <td>Imię</td>
                <td>Nazwisko</td>
                <td>Firma</td>
                <td>Adres</td>
                <td>Miejscowość</td>
                <td>Numer tel.</td>
                <td>Email</td>
            </tr>

            {% for client in clients %}
                <tr>
                    <td>{{ client.name }}</td>
                    <td>{{ client.surname }}</td>
                    <td>{{ client.address_zipcode_and_city }}</td>
                    <td><a class="btn" href="{{ url_for('clients.client', idx=client.id) }}">Szczegóły</a></td>
                <tr>
            {% endfor %}

        </table>
        <a class="btn" href="{{ url_for('clients.add') }}">Dodaj klienta</a>


    </article>

{% endblock %}