{% extends "_base.html" %}
{% import "macros.html" as macros %}
{% block content %}

    <h2>Edytuj oferte</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="container">
            <div class="form-row">

                <div class="col-sm-4">
                    {{ macros.form_field(form.year) }}
                </div>

                <div class="col-sm-4">
                    {{ macros.form_field(form.offer_number) }}
                </div>

                <div class="col-sm-4">
                    {{ macros.form_field(form.offer_version) }}
                </div>

            </div>

            <div class="form-row">
                <div class="col-sm-12">
                    {{ macros.form_field(form.button) }}
                </div>
            </div>
        </div>
    </form>

{% endblock %}
