{% extends "_base.html" %}
{% block content %}
		<section class="page-header page-header-classic page-header-sm" style="margin-top: -10px; position: relative">
			<div class="container">
				<div class="row">
					<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
						<h1>STRONA GŁÓWNA</h1>
					</div>
					<div class="col-md-4 order-1 order-md-2 align-self-center">
						<ul class="breadcrumb d-block text-md-right">
							<li class="active">STRONA GŁÓWNA</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
<h2>
    CRM
</h2>
    {% if init_view %}

        <section>
        Najpierw ustaw ścieżki do plików<br>
                            <button class="btn btn-primary custom-btn-style-1 text-uppercase text-color-light custom-font-weight-medium">
                                            <a href="{{ url_for('settings.settings') }}">
                                                <img alt="settings" width="24"
                                                     height="24"
                                                     src="{{ url_for('static', filename='img/settings.png') }}">
                                            </a>
                </button>

        </section>
    {% endif %}

{% endblock %}
