{% macro input(name, value='', type='text') -%}
    <input type="{{ type }}" value="{{ value|e }}" name="{{ name }}">
{%- endmacro %}

{%- macro textarea(name, value='', rows=10, cols=40) -%}
    <textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols }}">{{ value|e }}</textarea>
{%- endmacro %}

{%- macro table_column(value='') -%}
    <td>{{ value|e }}</td>
{%- endmacro %}

{%- macro form_field(form_field) -%}

    {% if form_field.type != "SubmitField" %}
        {{ form_field.label }}<br>
    {% endif %}

    {{ form_field() }}<br>
    {% if form_field.errors %}
        <ul class="errors">
            {% for error in form_field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{%- endmacro %}
