{% extends "_base.html" %}
{% import "macros.html" as macros %}

{#{% block content %}#}
{##}
{#    <h2>Oferty</h2>
{#        <table>#}
{#            <tr>#}
{#                <td>Rok</td>#}
{#                <td>Numer oferty</td>#}
{#            </tr>#}
{##}
{#                {% for offer in offers %}#}
{#                    <tr>#}
{#                    <td>{{ offer.year }}</td>#}
{#                    <td>{{ offer.offer_number }}</td>#}
{#                    <tr>#}
{#                {% endfor %}#}
{#            #}
{#        </table>#}
{#        <a class="btn" href="{{ url_for('offers.add_offer') }}">Dodaj oferte</a>#}
{##}
{##}
{#    #}
{##}
{#{% endblock %}#}

{% block content %}


    <h2>Oferty</h2>

    <table>
        {% for offer in offers %}
            {# nie da sie uzyc break anbo continue ale mozna uzywac if w skladni petli
 "for example in examples if example ...."#}

            {% if loop.first %}
                <tr>
                    <td>Rok</td>
                    <td>Numer oferty</td>
                </tr>

{#                {% elif %}#}
{#                {% else %}#}

            {% endif %}


            <tr>
                <td>{{ offer.year }}</td>
                <td>{{ offer.offer_number }}</td>
            <tr>



                        <tr>
                            {{ macros.table_column(offer.year) }}
                            {{ macros.table_column(offer.offer_number) }}
                        <tr>

        {% else %}
            <li>Brak ofert</li>
        {% endfor %}

    </table>
    <a class="btn" href="{{ url_for('offers.add_offer') }}">Dodaj oferte</a>


{% endblock %}