{% extends "_base.html" %}
{% import "macros.html" as macros %}
{% block content %}
    <section class="page-header page-header-classic page-header-sm" style="margin-top: -10px; position: relative">
        <div class="container">
            <div class="row">
                <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                    <h1>USTAWIENIA</h1>
                </div>
                <div class="col-md-4 order-1 order-md-2 align-self-center">
                    <ul class="breadcrumb d-block text-md-right">
                        <li class="active">USTAWIENIA</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <form action="" method="post" novalidate class="container">
        {{ form.hidden_tag() }}
        <table class="table table-bordered stage-margin">
            <tr>
                <td>
                    {{ macros.form_field(form.main_folder_path) }}
                </td>

                <td>
                    {{ macros.form_field(form.db_location) }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ macros.form_field(form.create_folders) }}
                </td>
                <td>
                    {{ form.submit(class="btn btn-primary custom-btn-style-1 text-uppercase text-color-light custom-font-weight-medium") }}
                </td>
            </tr>
        </table>
    </form>
{% endblock %}