{% extends "partials/_base.html" %}
{% from "macros/form_field_macros.html" import render_field%}
{% block content %}
    <form action="" method="post" novalidate class="container">
        {{ form.hidden_tag() }}
        <table class="table table-borderless">
            <tr>
                <td class="col-md-6">
                    {{ render_field(form.year) }}
                </td>
                <td class="col-md-6">
                    {{ render_field(form.offer_number) }}
                </td>
            </tr>
            <tr>
                <td class="col-md-6">
                    {{ render_field(form.offer_version) }}
                </td>
                <td class="col-md-6">
                    {{ render_field(form.user) }}
                </td>
            </tr>
            <tr>

                <td colspan="2" class="align-middle">
                    {{ form.submit(class="btn btn-custom") }}
                    {% if form.submit.errors %}
                        <ul class="errors">
                            {% for error in form.submit.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
