
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/private/favicon.ico') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>

<body class="body">

<header id="header" class="header-effect-shrink"
        data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 120, 'stickyHeaderContainerHeight': 70}">
    {% block nav %}
    {% include 'partials/_nav.html' %}
        {% include 'partials/_div_bar.html' %}
{% endblock %}

</header>


<section>
    <div class="content-wrap pt-30 pb-30">
        <div class="container clearfix">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='/js/custom.js') }}"></script>
</body>
</html>