<section class="custom-background div-bar">
        <div class="container div-bar-element">
            <div class="row align-items-between">
                <div class="col-md-8 order-2 order-md-1 align-self-center">
                    <h1 class="text-neg">{{ title }}</h1>
                </div>
                <div class="col-md-4 order-1 order-md-2 align-self-center">
                    <ul class="breadcrumb d-block text-md-end text-neg-robo">
                        <li class="custom-background ">{{ title }}</li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="line"></div>
    </section>