{% extends "partials/_base.html" %}
{% from 'macros/form_field_macros.html' import render_field %}
{% block content %}
    <form action="" method="post" novalidate class="container">
        {{ form.hidden_tag() }}


        <table class="table table-borderless align-middle">
            <tr>
                <td class="col-md-2" colspan="3">
                    {{ render_field(form.initials) }}
                </td>

                <td class="col-md-2" colspan="3">
                    {{ render_field(form.password) }}
                </td>
            </tr>

            <tr>
                <td class="col-md-2" colspan="2">
                    <div class="form-check form-switch">
                        {{ form.remember_me(class="form-check-input") }}
                        {{ form.remember_me.label(class="form-check-label") }}
                        </div>
                </td>

                <td class="col-md-2" colspan="2">
                <div>
                    {{ form.submit(class="btn btn-custom") }}
                    {% if form.submit.errors %}
                        <div class="is-invalid">
                            {% for error in form.submit.errors %}
                                {{ error }}
                            {% endfor %}

                        </div>
                    {% endif %}
                </div>
                </td>
                <td class="col-md-2" colspan="2">

                        <a class="btn btn-custom " href="{{ url_for('user.add') }}">
                            Utwórz konto
                        </a>
                </td>
            </tr>
        </table>
    </form>

{% endblock %}