{% extends "partials/_base.html" %}
{% from "macros/form_field_macros.html" import render_field%}
{% block content %}
    <form action="" method="post" novalidate class="container">
        {{ form.hidden_tag() }}
        {{ form.id }}

        <table class="table table-bordered stage-margin">
            <tr>
                <td class="col-md-6">
                    {{ render_field(form.name) }}
                </td>
                <td class="col-md-6">
                    {{ render_field(form.surname) }}
                </td>
            </tr>
            <tr>
                <td class="col-md-6">
                    {{ render_field(form.initials) }}
                </td>
                <td class="col-md-6">
                    {{ render_field(form.phone) }}
                </td>
            </tr>
            <tr>
                <td class="col-md-6">
                    {{ render_field(form.email) }}
                </td>
                <td class="col-md-6 align-middle">
                    {{ form.submit(class="btn btn-custom") }}
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
