{% extends "partials/_base.html" %}
{% from "macros/form_field_macros.html" import render_field%}
{% block content %}
    <form action="" method="post" novalidate class="container" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <table class="table table-borderless">
            <tr>
                <td class="col-md-6">
                    {{ render_field(form.title) }}
                </td>
                <td class="col-md-6">
                    {{ render_field(form.description) }}
                </td>
            </tr>
            <tr>
                <td class="col-md-6">
                    {{ render_field(form.images) }}
                </td>
                <td class="col-md-6 align-middle">
                    <div class="form-check form-switch">
                        {{ form.on_todo_list(class="form-check-input") }}
                        {{ form.on_todo_list.label(class="form-check-label") }}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-md-6">

                    {{ form.expire_date(class="form-control", type='date') }}
                    {{ form.expire_date.label }}
                    {% if form.expire_date.errors %}
                        <ul class="errors">
                            {% for error in form.expire_date.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
                <td>
                    {{ form.submit(class="btn btn-custom") }}
                    {% if form.submit.errors %}
                        <ul class="errors">
                            {% for error in form.submit.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
