{% extends "partials/_base.html" %}
{% block content %}
    <table class="table table-striped table-bordered align-middle">
        <thead>
        <tr>
            <th>Tytuł</th>
            <th>Treść</th>
            <th>Twórca</th>
            <th>Opcje</th>
        </tr>
        </thead>
        <tbody>


        <tr>
            <td>{{ note.title }}</td>
            <td>{{ note.description }}</td>
            <td>{{ note.initials }}</td>
            <td>
                <form action="{{ url_for('note.delete', idx=note.id, delete_img=form.delete_images.data ) }}" novalidate rel="nofollow">
                    {{ form.hidden_tag() }}
                    <table>
                        <tr class="form-check form-switch">
                            <div class="form-check form-switch">
                                {{ form.delete_images(class="form-check-input") }}
                                {{ form.delete_images.label(class="form-check-label") }}
                            </div>
                        </tr>
                        <tr>{{ form.submit }}</tr>
                    </table>

                    {% if form.delete_images.errors %}
                        <ul class="errors">
                            {% for error in form.delete_images.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </form>
        </tr>


        </tbody>
    </table>
    {{ image_list }}
    {% if image_list %}
        <div id="noteCarousel" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner">

                {% for image in image_list %}

                    {% if loop.index0 == 0 %}

                        <div class="carousel-item active">
                            <img src="{{ url_for('note.uploads', filename=image) }}" class="d-block w-100 h-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <p>{{ image }}</p>
                            </div>
                        </div>

                    {% else %}

                        <div class="carousel-item">
                            <img src="{{ url_for('note.uploads', filename=image) }}" class="d-block w-100 h-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <p>{{ image }}</p>
                            </div>
                        </div>

                    {% endif %}

                {% endfor %}

            </div>
            <a class="carousel-control-prev" href="#" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Poprzednie</span>
            </a>
            <a class="carousel-control-next" href="#" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Następne</span>
            </a>

        </div>

    {% endif %}

{% endblock %}