{% extends "partials/_base.html" %}
{% block content %}
        {% if init_view %}
            <section>
                Najpierw ustaw ścieżki do plików. Po każdorazowej zmianie ścieżek wyłącz program<br>
                <button class="btn btn-custom">
                    <a href="{{ url_for('settings.settings') }}">
                        <img alt="settings" width="24"
                             height="24"
                             src="{{ url_for('static', filename='img/settings.png') }}">
                    </a>
                </button>

            </section>
        {% else %}
                Zaloguj się aby zobaczyć panel użytkownika
        {% endif %}

{% endblock %}
