{% extends "partials/_base.html" %}
{% from "macros/form_field_macros.html" import render_field %}
{% block content %}
    <form action="" method="post" novalidate class="container">
        {{ form.hidden_tag() }}
        <table class="table table-borderless">
            <tr>
                <td>
                    {{ render_field(form.main_folder_path) }}
                </td>

                <td>
                    {{ render_field(form.standard_folder_path) }}
                </td>

                <td>
                    {{ render_field(form.db_location) }}
                </td>
            </tr>
            <tr>
                <td class="align-middle">

                    <div class="form-check form-switch">
                        {{ form.create_folders(class="form-check-input") }}
                        {{ form.create_folders.label(class="form-check-label") }}
                    </div>
                </td>
                <td></td>
                <td>


                    {{ form.submit(class="btn btn-custom") }}
                </td>
            </tr>
        </table>
    </form>
{% endblock %}